<div class="pramsbody">
    <h3>Query pram management</h3>
    <div class="pramDataDiv">
        <table border="1">
            <thead>
                <th>S No.</th>
                <th>Usrer name</th>
                <th>User email</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>{{userName | titlecase}}</td>
                    <td>{{email}} </td>
                    <td (click)="nevigateToPage2UsingQueryPrams()" class="viewButton">View</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


